/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  /* para que esté en todos lados se pone #app* que sale en template.html */
  #app {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }